@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
//tipo de fuente
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@200;400;600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
// font-family: 'Palanquin', sans-serif;
// font-family: 'Roboto', sans-serif;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root{
  height: 100%;
}

#root{
  display: flex;
  flex-direction: column;
}

@import './sections/header.scss';
@import './sections/footer.scss';
@import './sections/main.scss';